body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;

    background: rgb(236,220,212);
    background: linear-gradient(90deg, rgba(236,220,212,1) 0%, rgba(244,236,228,1) 100%);
    font-family: 'Kanit', sans-serif;

    /* Colors */
    --DarkBlue: #202434;
    --DarkGray: rgb(73, 71, 71);
    --Orange: #ff8c64;
}

/* Scroll */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    margin-top: -5px;
    margin-bottom: -5px;
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--DarkBlue);
    border-radius: 10px;
}

/*-------------| Background Design |-------------*/
#backgroundDesign-1 {
    position: absolute;
    width: 230px;
    top: 300px;
    right: 1570px;
}

#backgroundDesign-2 {
    position: absolute;
    width: 210px;
    top: 600px;
    left: 1630px;
    transform: rotate(190deg);
}