/*--------------| Header |--------------*/
header {
    width: 1024px;
    height: 600px;
    margin: 80px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Header: section 1 */
#header_1 {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header_1 h1 {
    color: var(--DarkBlue);
    line-height: 62px;
    font-size: 55px;
    margin: 0;
}

#header_1 p {
    font-size: 20px;
    color: var(--DarkGray);
}

#header_1 h2 {
    color: var(--DarkBlue);
    font-size: 55px;
    margin: 0;
}

#header_1 button {
    width: 190px;
    height: 60px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--DarkBlue);
    color: whitesmoke;
    box-shadow: 0px 0px 30px 7px #f8e4dc;
    font-size: 20px;
}

#header_1 button:hover {
    cursor: pointer;
    transform: scale(1.024);
}

#header_1 button i {
    color: var(--Orange);
    font-size: 25px;
    margin-left: 8px;
}

/* Header: section 2 */
#header_2 {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_2 div {
    position: relative;
    width: 100%;
    height: 360px;
    border-radius: 100%;
    background-color: var(--Orange);
}

#header_2 div img {
    position: absolute;
    width: 480px;
    top: -150px;
    left: -60px;
    transform: rotate(5deg);
    z-index: 1;
}

#header_2_been {
    position: absolute;
    color: #e6805fbb;
    font-size: 270px;
    top: 50px;
    left: 20px;
    transform: rotate(45deg);
}

#header_2_snow1 {
    position: absolute;
    color: rgb(211, 241, 237);
    font-size: 75px;
    transform: rotate(-7deg);
    bottom: 15px;
    right: 50px;
    z-index: 1;
}

#header_2_snow2 {
    position: absolute;
    color: whitesmoke;
    font-size: 45px;
    transform: rotate(30deg);
    bottom: -8px;
    left: 130px;
    z-index: 1;
}

/* Header: section 3 */
#header_3 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_3_item {
    width: 80%;
    height: 80px;
    margin: 20px 0 20px 20%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.header_3_item div {
    width: 70px;
    height: 70px;
    background-color: whitesmoke;
    border-radius: 100%;
    grid-row: 1/3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_3_item div i {
    font-size: 50px;
    color: var(--DarkBlue);
}

.header_3_item h3 {
    margin: 0;
    color: var(--DarkBlue);
}

.header_3_item p {
    margin: 0;
    color: var(--DarkGray);
}

/* Header - Responsive */
@media only screen and (max-width: 1024px) {
    header {
        width: 100%;
    }
}

@media only screen and (max-width: 1150px) {
    header {
        height: 1000px;
        justify-content: center;
        margin-top: 60px;
    }

    #header_1 {
        position: relative;
        width: 360px;
        height: max-content;
        right: -30px;
        top: -55px;
    }
    #header_2 {
        position: relative;
        width: 360px;
        height: max-content;
        top: 120px;
        left: -30px;
    }
    #header_3 {
        position: relative;
        width: 100%;
        height: max-content;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        top: -90px;
    }

    /* header-1 */
    #header_1 h1 {
        line-height: 57px;
        font-size: 50px;
    }
    #header_1 p {
        font-size: 19px;
    }
    #header_1 h2 {
        font-size: 48px;
    }
    #header_1 button {
        width: 162px;
        height: 55px;
        margin-top: 28px;
        font-size: 17px;
    }
    #header_1 button i {
        font-size: 21px;
    }

    /* header-3 */
    .header_3_item {
        width: 300px;
        margin: 0;
    }

    #header_3_item2 {
        margin-left: 130px;
        margin-top: 70px;
    }
    #header_3_item3 {
        margin-right: 170px;
    }
}



/*---------------| Main |---------------*/
main {
    width: 1024px;
    height: max-content;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
}

/* Main - Responsive */
@media only screen and (max-width: 1024px) {
    main {
        width: 100%;
    }
}


/*-----------| Main: Trends |-----------*/
#Trends {
    width: 100%;
    height: 280px;
    background-color: var(--DarkBlue);
    border-top-left-radius: 20%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 40%;
    display: flex;
    justify-content: space-evenly;
}

/* Item */
.trends_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}

/* Item - emblem */
.trends_item > div {
    position: relative;
    width: 210px;
    height: 210px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trends_item > div > i {
    position: absolute;
    font-size: 160px;
    top: 20px;
    left: 13px;
    filter: hue-rotate(-20deg);
}

.trends_item > div img {
    height: 230px;
    margin-top: -30px;
    z-index: 1;
}

/* Item - opinion */
.trends_item_opinion {
    position: absolute;
    width: 62px;
    height: 31px;
    bottom: 50px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--DarkBlue);
    border-radius: 10px;
    background-color: whitesmoke;
    z-index: 1;
}

.trends_item_opinion > i {
    font-size: 18px;
    color: #f4ac1c;
    margin-left: 3px;
}

/* Item - title */
.trends_item h1 {
    color: whitesmoke;
}

/* Item - button */
.trends_item button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(155, 154, 154);
    border: none;
    font-size: 20px;
}

.trends_item button:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.trends_item button > span {
    font-weight: bold;
    color: whitesmoke;
}

.trends_item button:hover span {
    color: var(--Orange);
}