/*---------------------| Header |---------------------*/
/*---------------------------------------------------*/
header {
    width: 1024px;
    height: 600px;
    margin: 80px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*----------| Header: Section-1 |----------*/
#header_1 {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header_1 h1 {
    color: var(--DarkBlue);
    line-height: 62px;
    font-size: 55px;
    margin: 0;
}

#header_1 p {
    font-size: 20px;
    color: var(--DarkGray);
}

#header_1 h2 {
    color: var(--DarkBlue);
    font-size: 55px;
    margin: 0;
}

#header_1 button {
    width: 190px;
    height: 60px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--DarkBlue);
    color: whitesmoke;
    box-shadow: 0px 0px 30px 7px #f8e4dc;
    font-size: 20px;
    outline: none;
    border: none;
}

#header_1 button:hover {
    cursor: pointer;
    transform: scale(1.024);
}

#header_1 button i {
    color: var(--Orange);
    font-size: 25px;
    margin-left: 8px;
}

/*----------| Header: Section-2 |----------*/
#header_2 {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_2 div {
    position: relative;
    width: 100%;
    height: 360px;
    border-radius: 100%;
    background-color: var(--Orange);
}

#header_2 div img {
    position: absolute;
    width: 480px;
    top: -150px;
    left: -60px;
    transform: rotate(5deg);
    z-index: 1;
}

#header_2_been {
    position: absolute;
    color: #e6805fbb;
    font-size: 270px;
    top: 50px;
    left: 20px;
    transform: rotate(45deg);
}

#header_2_snow1 {
    position: absolute;
    color: rgb(211, 241, 237);
    font-size: 75px;
    transform: rotate(-7deg);
    bottom: 15px;
    right: 50px;
    z-index: 1;
}

#header_2_snow2 {
    position: absolute;
    color: whitesmoke;
    font-size: 45px;
    transform: rotate(30deg);
    bottom: -8px;
    left: 130px;
    z-index: 1;
}

/*----------| Header: Section-3 |----------*/
#header_3 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_3_item {
    width: 80%;
    height: 80px;
    margin: 20px 0 20px 20%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.header_3_item div {
    width: 70px;
    height: 70px;
    background-color: whitesmoke;
    border-radius: 100%;
    grid-row: 1/3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_3_item div i {
    font-size: 50px;
    color: var(--DarkBlue);
}

.header_3_item h3 {
    margin: 0;
    color: var(--DarkBlue);
}

.header_3_item p {
    margin: 0;
    color: var(--DarkGray);
}



/*-------------------| Responsive |-------------------*/
/*---------------------------------------------------*/
@media only screen and (max-width: 1024px) {
    header {
        width: 100%;
        margin-bottom: -120px;
    }
}

/*---------| Responsive: 1150px |---------*/
@media only screen and (max-width: 1150px) {
    header {
        height: 1000px;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: -30px;
    }

    #header_1 {
        position: relative;
        width: 360px;
        height: max-content;
        right: -30px;
        top: -55px;
    }
    #header_2 {
        position: relative;
        width: 360px;
        height: max-content;
        top: 120px;
        left: -30px;
    }
    #header_3 {
        position: relative;
        width: 100%;
        height: max-content;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        top: -90px;
    }

    /* Responsive: Section-1 */
    #header_1 h1 {
        line-height: 57px;
        font-size: 50px;
    }
    #header_1 p {
        font-size: 19px;
    }
    #header_1 h2 {
        font-size: 48px;
    }
    #header_1 button {
        width: 162px;
        height: 55px;
        margin-top: 28px;
        font-size: 17px;
    }
    #header_1 button i {
        font-size: 21px;
    }

    /* Responsive: Section-3 */
    .header_3_item {
        width: 300px;
        margin: 0;
    }

    #header_3_item2 {
        margin-left: 130px;
        margin-top: 70px;
    }
    #header_3_item3 {
        margin-right: 170px;
    }
}

/*---------| Responsive: 740px |---------*/
@media only screen and (max-width: 740px) {
    header {
        height: 830px;
        margin-top: 50px;
        margin-bottom: -80px;
    }

    #header_1 {
        max-width: 320px;
    }
    #header_2 {
        max-width: 360px;
        top: 120px;
        left: -30px;
    }
    #header_3 {
        top: -90px;
    }

    /* Responsive: Section-1 */
    #header_1 h1 {
        line-height: 47px;
        font-size: 42px;
    }
    #header_1 p {
        font-size: 18px;
    }
    #header_1 h2 {
        font-size: 40px;
    }
    #header_1 button {
        width: 145px;
        height: 51px;
        margin-top: 23px;
        font-size: 15px;
    }
    #header_1 button i {
        font-size: 17px;
    }

    /* Responsive: Section-2 */
    #header_2 {
        width: 300px;
        top: 50px;
    }

    #header_2 div {
        height: 300px;
    }
    
    #header_2 div img {
        width: 380px;
        top: -100px;
        left: -35px;
    }
    
    #header_2_been {
        font-size: 233px;
    }
    
    #header_2_snow1 {
        font-size: 65px;
    }
    
    #header_2_snow2 {
        font-size: 40px;
    }

    /* Responsive: Section-3 */
    .header_3_item {
        width: 240px;
        font-size: 16px;
    }

    .header_3_item div {
        width: 60px;
        height: 60px;
    }

    .header_3_item div i {
        font-size: 40px;
    }
}

/*---------| Responsive: 631px |---------*/
@media only screen and (max-width: 631px) {
    header {
        height: 800px;
        margin: 0 0 130px 0;
        flex-direction: column;
    }

    /* Responsive: Section-1 */
    #header_1 {
        max-width: 270px;
        margin-left: -30%;
    }

    #header_1 h1 {
        font-size: 32px;
    }
    #header_1 p {
        font-size: 15px;
    }
    #header_1 h2 {
        font-size: 30px;
        margin-top: -7px;
    }
    #header_1 button {
        width: 115px;
        height: 42px;
        margin-top: 12px;
        font-size: 12px;
    }
    #header_1 button i {
        font-size: 12px;
    }

    /* Responsive: Section-2 */
    #header_2 {
        max-width: 200px;
        margin-right: -30%;
        margin-top: -120px;
    }

    #header_2 div {
        height: 200px;
    }
    
    #header_2 div img {
        width: 230px;
        top: -45px;
        left: -13px;
    }
    
    #header_2_been {
        font-size: 155px;
        top: 20px;
        left: 14px;
    }
    
    #header_2_snow1 {
        font-size: 35px;
        right: 30px;
    }
    
    #header_2_snow2 {
        font-size: 24px;
        margin-left: -28px;
        margin-bottom: 7px;
    }

    /* Responsive: Section-3 */
    #header_3 {
        top: 100px;
        flex-direction: column;
        align-items: center;
    }

    .header_3_item {
        max-width: 230px;
        font-size: 14px;
    }

    #header_3_item1, #header_3_item3 {
        margin: 0 0 20px -20%;
    }

    #header_3_item2 {
        margin: 0 -20% 20px 0;
    }

    .header_3_item div {
        width: 50px;
        height: 50px;
    }

    .header_3_item div i {
        font-size: 33px;
    }
}