/*---------------------| Menu |---------------------*/
/*-------------------------------------------------*/
#Menu {
    width: 85%;
    min-height: 460px;
    max-height: max-content;
    margin: 200px auto 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*----------| Menu: Title |----------*/
#Menu_title {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Menu_title h1 {
    font-family: 'Kenia', cursive;
    font-size: 50px;
    text-align: center;
    line-height: 46px;
    margin: 0 15px 0 15px;
}

#Menu_title div {
    width: 37%;
    height: 0;
    border: 4px dashed var(--DarkBlue);
}

/*----------| Menu: Item |-----------*/
.Menu_item {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

/* Item: Graphic */
.Menu_item_graphic {
    width: 100%;
    height: 79%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Menu_item_graphic img {
    height: 100%;
}

/* Item: Data */
.Menu_item_data {
    width: 100%;
    height: 21%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Menu_item_data h1 {
    font-size: 23px;
    color: var(--DarkBlue);
    text-align: center;
    margin: 0;
}

.Menu_item_data_count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Menu_item_data_count i {
    color: var(--DarkGray);
    font-size: 20px;
}

.Menu_item_data_count i:hover {
    cursor: pointer;
    color: var(--Orange);
}

.Menu_item_data_count span {
    width: 31px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 13px 0 13px;

    background-color: var(--DarkBlue);
    color: whitesmoke;
    border-radius: 10px;
    font-weight: bold;
    font-size: 19px;
}